* {
    box-sizing: border-box;
}

/* Span */
.dtailing {
    color: #ac0303;
    font-weight: 600;
}

/* NAVBAR */
.navbar {
    height: 10vh;
    z-index: 999;
}

/* H1/LOGO */
#zeH1 {
    color: #212529;
}
.logo {
    height: 50px;
   /* color: #000; */
}

/* 'Header du site' */
.bgHeader {
    background: url(/public/assets/img/ouiouioui.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
}

.imgBg {
    background: url(/public/assets/img/ouiouioui.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Connexion formulaire */
.connexionForm {
    height: fit-content;
    min-height: 90vh;
    background-image: url(/public/assets/img/ouiouioui.jpg);
    object-fit: cover;
}
.glassForm {
    background: rgba(255, 255, 255, 0.468);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    height: 80%;
    width: 95%;
   /* margin: 10px; */
}
.createAcc {
    font-size: 0.8rem;
    text-align: center;
}
/* Inscription Formulaire */
.inscriptionForm {
    height: auto;
    background-image: url(/public/assets/img/ouiouioui.jpg);
    object-fit: cover;
}

/* About */
.aboutText {
    font-size: 0.9rem;
}

.aboutDiv {
    background: rgba(255, 255, 255, 0.468);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

/* Prestation */
.card-title {
    font-size: 1em;
    height: 40px;
}



/* .find {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
} */
.find h5 {
    font-size: 1rem;
}
.logoFind {
    width: 25px;
    height: 25px;
}

.ggmaps {
    height: 400px;
    width: 100%;
}

/* Carousel */
.carouZel {
    height: 90vh;
}
.carousel-item img {
    object-fit: cover;
    height: 90vh;
}

.imgPrestation {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0) 29%,
        rgba(115, 115, 115, 0.8169861694677871) 75%,
        rgba(247, 247, 247, 0.517266281512605) 100%
    );
    filter: blur(0px) brightness(0.5) grayscale(0.6);
}

/* Contact Formulaire */
.contactForm {
    height: 90vh;
}

/* FOOTER */
.logoRS {
    width: 20px;
    height: 20px;
}

.alertSession {
    background-color: rgb(33 37 41);
}
.alert {
    border-radius: 0;
}

.dashbPrestation {
    min-height: 90vh;
}

.dashbPrestationRow {
    min-height: 90vh;
}

.minH90 {
    min-height: 90vh;
}

/* DASHBOARD */
.svgDashboard {
    fill: aliceblue;
    position: absolute;
    top: 0;
    right: 20px;
    height: 30px;
    width: 30px;
}
.svgBlack {
    fill: black;
}

.glassCard {
    background: rgba(255, 255, 255, 0.574);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}
.glass {
    background: rgba(255, 255, 255, 0.574);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 5px;
    /* height: auto; */
}

.cardLogo {
    /* width: 60%; */
    height: 60%;
}

.float-right {
    float: right;
}
.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f0f5f9'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}



